:host {
  display: inline-flex;
  flex-shrink: 0;
  vertical-align: middle;
}

.tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  svg {
    width: 60%;
    height: 60%;
  }
}
